@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  --green: #5ca720;
  --black: #161616;
  --gray-dividing-lines: #a5a1a1;
  --gray: #f9f9f9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 82px;
}
nav .icons-header {
  display: flex;
  gap: 0.7rem;
}
.list-footer {
  display: flex;
  gap: 0.2rem;
}
.icons {
  width: 20px;
  height: 19px;
}
.banner {
  width: 100%;
  object-fit: cover;
  height: 160px;
}
.sale {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 0.2px solid var(--gray-dividing-lines);
}
.sale h3 {
  font-size: 1rem;
}
.sale p {
  font-size: 0.9rem;
  font-weight: bold;
}
.items {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
/* .product {
  margin: 1rem;
} */
.product img {
  width: 105px;
  object-fit: cover;
  height: 120px;
}
.product p {
  font-weight: bold;
}
.product p span {
  color: var(--green);
}
footer {
  background-color: var(--gray);
  display: grid;
  border-top: 0.2px solid var(--gray-dividing-lines);
}

footer ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}
footer ul li a {
  color: var(--black);
  font-weight: 600;
  font-size: 0.7rem;
  text-decoration: none;
}
.list-footer,
.news,
.icons-footer {
  padding: 1.2rem;
}
.news {
  border-bottom: 0.2px solid #a5a1a1;
}
.input-email {
  margin-top: 0.5rem;
  min-width: 100%;
  min-height: 43px;
  border: 0.395833px solid #d9d9d9;
  padding-left: 0.5rem;
}

.btn {
  margin: 0.8rem 0 0.5rem 0;
  display: block;
  text-align: center;
  padding: 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  background-color: var(--green);
}
.icons-footer {
  display: flex;
  justify-content: space-between;
}
.social-networks {
  display: flex;
  gap: 0.6rem;
}
.card-flag {
  display: flex;
  gap: 0.4rem;
}

@media screen and (min-width: 768px) {
  .img-logo {
    width: 7.5rem;
  }
  .icons1 {
    width: 24px;
    height: 23px;
  }
  .icons {
    width: 25px;
    height: 24px;
  }
  .banner {
    height: calc(100vh - 82px);
    object-fit: cover;
  }
  .sale {
    justify-content: space-between;
    padding: 1rem;
  }
  .sale h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  .sale p {
    font-size: 18px;
    line-height: 21.6px;
  }
  .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .items {
    align-self: center;
  }
  .product img {
    width: 190px;
    height: 190px;
    object-fit: cover;
  }
} ;
